[os]
disabled = false
[git_metrics]
disabled = false
[git_status]
ahead = '⇡${count}'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'
[cpp]
disabled = false
[time]
disabled = false
